<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460549466914-hvhkkjhrfeir1nm346oqlj758pkbfr6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460549466914-hvhkkjhrfeir1nm346oqlj758pkbfr6k</string>
	<key>API_KEY</key>
	<string>AIzaSyAtT_70vSZfuWoffPiEbzowm_E0JrbVwaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>460549466914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stefanteau.shareapp</string>
	<key>PROJECT_ID</key>
	<string>photo-share-f0ce5</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-share-f0ce5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460549466914:ios:36d7a0f41b3f673b74137b</string>
</dict>
</plist>